 @import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Mulish:wght@400;800&display=swap'); 
li {
    text-decoration: 'none'!important;
}

select {
  padding: 2px;
  text-align: center;
  text-transform: capitalize;
  background-color: #1664c0;
  color: #FFFFFF;
  outline: none;
}

input{
  border-color: #1664c0;
}
